.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: auto;
  overflow-x: hidden;
  background-color: #181818;
}

.container {
  max-width: 1920px;
  height: 100vh;
  margin: 0 auto;
  position: relative;
  background-color: #181818;
}

.main {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.mainCenterblock {
  width: auto;
  -webkit-box-flex: 3;
  -ms-flex-positive: 3;
  flex-grow: 3;
  padding: 20px 40px 20px 111px;
  margin-bottom: 30px;
}

@media (max-width: 1600px) {
  .mainCenterblock {
    padding-left: 50px;
  }
}

@media (max-width: 1200px) {
  .mainCenterblock {
    padding-left: 40px;
  }
}

@media (max-width: 1104px) {
  .mainCenterblock {
    padding-top: 0px;
  }
}

@media (max-width: 1104px) {
  .mainCenterblock {
    padding: 0px 15px 0px 15px;
  }
}
