@keyframes bubble_out {
  0% {
    transform: scale(0.6);
  }
  10% {
    transform: scale(0.6);
  }
  20% {
    transform: scale(0.7);
  }
  30% {
    transform: scale(0.8);
  }
  40% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1);
  }
  60% {
    transform: scale(0.9);
  }
  70% {
    transform: scale(0.8);
  }
  80% {
    transform: scale(0.7);
  }
  90% {
    transform: scale(0.6);
  }
  100% {
    transform: scale(0.6);
  }
}

.playlistItem {
  cursor: pointer;
  width: 100%;
  display: block;
  margin-bottom: 12px;
}

.playlistTrack {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.trackTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 447px;
  min-width: 260px;
}

.trackTitleImage {
  width: 51px;
  height: 51px;
  padding: 16px;
  background: #313131;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-right: 17px;
}

.trackTitleSvg {
  width: 18px;
  height: 17px;
  fill: transparent;
  stroke: #4e4e4e;
}

.trackIsPlayingSvg {
  width: 16px;
  height: 16px;
}

.trackisPlayingAnimation {
  width: 16px;
  height: 16px;
  background-color: #b672ff;
  border-radius: 8px;
  display: block;
  animation: bubble_out 1000ms infinite;
}

.trackTitleLink {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.trackTitleSpan {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #4e4e4e;
}

.trackAuthor {
  max-width: 321px;
  min-width: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.trackAuthorLink {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  text-align: left;
}

.trackAlbum {
  max-width: 245px;
  min-width: 230px;
}

.trackAlbumLink {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #696969;
}

.trackTime {
  width: 66px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.trackTimeSvg {
  width: 16px;
  height: 16px;
  fill: transparent;
  stroke: #696969;
}

.trackTimeText {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  color: #696969;
}


@media (max-width: 1600px) {
  .trackTitleImage {
    margin-right: 8px;
    width: 41px;
    height: 41px;
    padding: 8px;
  }

  .trackTitleLink, .trackAlbumLink, .trackAuthorLink {
    font-size: 14px;
  }
  
  .trackTimeText {
    font-size: 14px;
  }
}

@media (max-width: 1399px) {
  .trackTitleImage {
    margin-right: 8px;
    width: 35px;
    height: 35px;
    padding: 8px;
  }

  .trackTitleLink, .trackAlbumLink, .trackAuthorLink {
    font-size: 12px;
  }
  
  .trackTimeText {
    font-size: 12px;
  }

  .trackTime {
    align-items: end;
  }
}

@media (max-width: 772px) {
  .playlistItem {
    position: relative;
  }

  .trackTitle {
    min-width: 180px;
    align-items: flex-start;
  }

  .trackAuthor {
    position: absolute;
    left: 42px;
    top: 17px;
  }

  .trackAuthorLink {
    opacity: 40%;
  }

  .trackAlbum {
    display: none;
  }
}